@font-face {
  font-family: "amandine", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.app {
  display: flex;
  flex-direction: column; /* Ensure the layout follows a column structure */
}

.navBar {
  text-align: center;
  padding: 1rem 0;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.sidebar {
  width: 150px;
  position: fixed;
  top: 15rem;
  height: calc(100vh - 4rem);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.sectionContent {
  padding: 5rem 20px 20px 20px; /* Adjust padding-top as needed */
  position: relative;
}

.section {
  font-family: "amandine";
  height: 100vh;
  border-bottom: 1px solid var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#projects, #about, #contact {
  margin-top: 2rem;
}

#contact {
  margin-bottom: 10rem;
}

.app, .section {
  transition: background-color 500ms ease, color 500ms ease;
}

.active {
  color: red;
}

.lightMode {
  background-color: #F0F8FF;
  color: #002147;
  --accent-color: #00A6A6;
}

.darkMode {
  background-color: #002147;
  color: #F0F8FF;
  --accent-color: #D4AF37;
  --accent-color2: #778899
}

.sidebar button {
  transition: color 0.3s ease;
  display: block;
  margin: 10px 0;
  background-color: transparent;
}


.footer {
  font-family: "amandine";
  letter-spacing: 1px;
  text-align: center;   
  padding: 1rem 0;           
  bottom: 0;             
  width: 100%;          
}

.toggle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  line-height: 1;
  transition: opacity 0.3s ease;
}

.toggle:hover {
  opacity: 50%;
}

.input {
  display: none;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms;
}

.icon--moon {
  transition-delay: 200ms;
}

.icon--sun {
  transform: scale(0);
}

#switch:checked + .icon--moon {
  transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
  transition-delay: 200ms;
  transform: scale(1) rotate(360deg);
}

.projects{
  display:flex;
  gap: 2vw;
}

.project {
  width: 190px;
  height: 254px;
  border-radius: 0;
  transition: 400ms;
  background: inherit;
}

.lightMode .project, .lightMode .myPicture {
  box-shadow: 15px 15px 30px #F0F8FF, -15px -15px 30px #d8dfe5;
}

.darkMode .project, .darkMode .myPicture {
  box-shadow: 15px 15px 30px #002147, -15px -15px 30px #00132a;
}

.projects .project:hover {
  transform: scale(1.05, 1.05);
}

.projects:hover > .project:not(:hover) {
  opacity: 30%;
  transform: scale(0.95, 0.95);
}

.homeSection {
  display: flex;
  flex-direction: row;
}

#about, #contact{
  background-color: var(--accent-color);
}

.myPicture {
  background-color: inherit;
  padding: 2rem;
  width: 25rem;
  border-radius: 50%;
  transition: box-shadow 500ms ease;
}

@keyframes handwrite {
    0% {
        stroke-dashoffset: 3007;
        fill: none;
    }
    100% {
        stroke-dashoffset: 0;
        fill: var(--accent-color);
    }    
}

#giullyaVitoria {
  transition: color 500ms ease;
    stroke-dasharray: 3007;
    animation: handwrite 17s linear forwards;
}

.rightSide{


}

.leftiSide{



}
