@font-face {
  font-family: "amandine", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.app {
  display: flex;
  flex-direction: column; /* Ensure the layout follows a column structure */
}

.navBar {
  text-align: center;
  padding: 1rem 0;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.sidebar {
  width: 150px;
  position: fixed;
  top: 18rem;
  height: calc(100vh - 4rem);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.sidebar .sidebarLine button  {
  background-color: var(--color);
  border: 1px solid var(--background-color);
  height: 1vw;
  width: 1vw;
  transition: transform 0.3s ease;
}

.sidebar .sidebarLine button:hover {
  transform: rotate(45deg);
}

.sidebar .sidebarLine button.active  {
  transform: rotate(45deg) scale(0.95, 0.95);
  background-color: var(--accent-color);
  border: 1px solid var(--background-color);
}

.sectionContent {
  padding: 5rem 20px 20px 20px; 
  position: relative;
}

.section {
  font-family: "amandine";
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section h1{
  font-size: 90px;
}

#contact {
  margin-bottom: 10rem;
}

.app, .section {
  transition: background-color 500ms ease, color 500ms ease;
}

.lightMode  {
  background-color: #ece7e1;
  --background-color: #ece7e1;
  color: #1a1818;
  --color:#1a1818;
  --accent-color: #00A6A6;
}

.darkMode {
  background-color: #1a1818;
  --background-color: #1a1818;
  color: #ece7e1;
  --color: #ece7e1;
  --accent-color: #D4AF37;
}

.sidebar button {
  transition: color 0.3s ease;
  display: block;
  margin: 10px 0;
  background-color: inherit;
}

.footer {
  font-family: "amandine";
  letter-spacing: 1px;
  text-align: center;   
  padding: 1rem 0;           
  bottom: 0;             
  width: 100%;  
}

.toggle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  line-height: 1;
  transition: opacity 0.3s ease;
}

.toggle:hover {
  opacity: 50%;
}

.input {
  display: none;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms;
}

.icon--moon {
  transition-delay: 200ms;
}

.icon--sun {
  transform: scale(0);
}

#switch:checked + .icon--moon {
  transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
  transition-delay: 200ms;
  transform: scale(1) rotate(360deg);
}

#projects {
  display: flex;
  flex-direction: row;
  gap: 10vw;
}

.projects {
  max-height: 80vh;
  display:flex;
  flex-direction: column;
  gap: 2vw;
}

@keyframes scroll {
  0% {
    transform: translateY(0); /* Start position */
    opacity: 1;
  }
  100% {
    transform: translateY(-100%); /* End position */
    opacity: 0;
  }
}

.project {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  width: 500px;
  border-radius: 0;
  transition: 400ms;
  background-color: inherit;
  color: currentColor;
}

.darkMode .project {
  border: 0.1px outset rgba(236, 231, 225, 0.3);
}

.lightMode .project {
  border: 0.1px outset rgba(26,24,24,0.5);
}

.projects .project:hover {
  transform: scale(1.05, 1.05);  
}

.projects:hover > .project:not(:hover) {
  opacity: 30%;
  transform: scale(0.95, 0.95);
}

.homeSection {
  display: flex;
  flex-direction: column;
}

#about, #contact{
  background-color: var(--accent-color);
  color: var(--background-color);
}

.myPicture {
  background-color: inherit;
  padding: 2rem;
  width: 25rem;
  border-radius: 50%;
  transition: box-shadow 500ms ease;
}
